* {
box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@keyframes slash {
    0% {display: none;}
    1% {background-image: url("slash8.png"); display: block;}
    7.14% {background-image: url("slash7.png");}
    14.3% {background-image: url("slash6.png");}
    28.6% {background-image: url("slash5.png");}
    36% {background-image: url("slash4.png");}
    43% {background-image: url("slash3.png");}
    50% {background-image: url("slash2.png");}
    57% {background-image: url("slash1.png");}
    64% {background-image: url("slash9.png");}
    70% {background-image: url("slash10.png");}
    77% {background-image: url("slash11.png");}
    82% {background-image: url("slash12.png");}
    88% {background-image: url("slash13.png");}
    94% {background-image: url("slash14.png");}
    100% {background-image: url("slash15.png");}
}
@keyframes parry {
    0% {display: none;}
    20% {background-image: url("parry1.png"); display: block;}
    40% {background-image: url("parry2.png");}
    60% {background-image: url("parry3.png");}
    80% {background-image: url("parry2.png");}
    100% {background-image: url("parry1.png");}
}
@keyframes spin {
    0% {transform: rotate(0deg); left: 0px;}
    50% {transform: rotate(360deg); left: 500px;}
    100% {transform: rotate(0deg); left: 0px;}
}
html, body {
    height: 100%;
    overflow: hidden;
    width: 100%;
    object-fit: fill;

}
#playerParry{
    animation: parry 0.3s 1;
    animation-play-state: paused;
    width: 200px;
    height: 200px;
    position: absolute;
    background-size: contain;
}
#playerSlash{
    animation: slash 0.3s 1;
    animation-play-state: paused;
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: contain;
}
#playerHeavy{
    animation: slash 0.5s 1;
    animation-play-state: paused;
    width: 200px;
    height:400px;
    position: absolute;
    background-size: 100% 100%;
}
#enemySlash{
    animation: slash 0.3s 1;
    animation-play-state: paused;
    width: 150px;
    height: 300px;
    position: absolute;
    background-size: 100% 100%;
}
#demo {
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

#info {
    padding-left: 10px;
    border-radius: 10px;
    position: absolute;
    user-select: none;
    font-size: 2em;
    width: 120px;
    color: #EEEEEE;
}
#enemy {
    padding-left: 10px;
    border-radius: 10px;
    position: absolute;
    user-select: none;
    font-size: 2em;
    width: 120px;
    color: #EEEEEE;
}
#healthBar {
    margin-left: 5px;
    margin-top: 5px;
    width: 900px;
    height: 20px;
    background-color: crimson;
}
#enemyHealthBar {
    margin-left: 5px;
    margin-top: 5px;
    width: 250px;
    height: 15px;
    background-color: crimson;
    position: absolute;
}
#staminaBar {
    margin-left: 5px;
    margin-top: 5px;
    width: 600px;
    height: 20px;
    background-color: aquamarine;
}
#shockwave {
    width: 256px;
    height: 64px;
    background-image: url("shockwave.png");
    position: absolute;
}
#heavyCooldownBar {
    width:1px;
    height:15px;
    margin-top: 5px;
    position: absolute;
    margin-left: 5px;
    background-color: lightblue;
}
#winMessage {
    top: 200px;
    width: 1000px;
    height: 250px;
    position: absolute;
    background-image: url("WinMessage.png");
    animation: spin 2s infinite;
}